{% extends 'artfwh/articles_about_base.html' %}
{% load static %}

{% block navA %}
    {% for abou in Abou %}
        <ul style="list-style-type: none; padding:0;">
            <li>
                <a href="{% url 'artfwh:about' about_id=abou.id %}">{{ abou.title.era }}</a>
            </li>
        </ul>
    {% endfor %}
    <hr>
    <hr>
    <a href="{% url 'artfwh:artTop' %}">Top</a>

{% endblock %}


{% block mainA %}
    {{ about2.title }}
    {{ about2.ArtText | safe }}
{% endblock %}


{% block mainB %}
    {{ about2.ArtTextMore | safe }}
{% endblock %}

{% block mainC %}
    {{ about2.text | safe }}
{% endblock %}